*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#F5F0E8;
}

header{
background:#111;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:#D4AF37;
font-size:30px;
font-weight:bold;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.banner{
height:500px;
background:url("../img/banner.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
}

.contenido-banner{
background:rgba(0,0,0,.6);
padding:30px;
border-radius:10px;
text-align:center;
color:white;
}

.btn{
background:#6B0F1A;
padding:12px 20px;
color:white;
text-decoration:none;
display:inline-block;
margin-top:15px;
}

section{
padding:60px 10%;
}

h2{
text-align:center;
margin-bottom:30px;
color:#6B0F1A;
}

.productos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,.2);
text-align:center;
}

.card img{
width:100%;
height:300px;
object-fit:cover;
border-radius:10px;
}

.card p{
font-weight:bold;
color:#6B0F1A;
}

.beneficios{
text-align:center;
}

.beneficio{
background:white;
padding:20px;
margin:10px;
border-radius:10px;
}

form{
background:white;
padding:30px;
border-radius:10px;
}

input,
textarea{
width:100%;
padding:12px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:#6B0F1A;
color:white;
border:none;
cursor:pointer;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav ul{
flex-direction:column;
text-align:center;
}

}